*.apk
*.ap_
*.dex
*.class
bin/
gen/
obj/

.DS_Store
Thumbs.db

*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml

/build
/captures
.externalNativeBuild
output.json
